{% extends 'base.html.twig' %}


{% block title %}Établissements{% endblock %}

{% block body %}
    <div class="container">
        <div class="row row-cols-3 justify-content-center">
            {% for etablissement in etablissements %}
                {% set path = path('app_favoris_add', {slug: etablissement.slug, route: app.request.requesturi|slice(1)|replace({'/' : '_*_'})})%}
                {{ include('partials/_card_etablissement.html.twig') }}
            {% endfor %}
        </div>
        <div class="navigation d-flex justify-content-center mt-3">
            {{ knp_pagination_render(etablissements) }}
        </div>
    </div>
{% endblock %}
